<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include('nav')%>
    <form action="/update" method="post">
        <div class="row">
           <h1>edit your data</h1>
        <div class="col-md-8  align-items-center ">
            <div class="border p-5">
        <div class="form-floating mb-3">
            <input type="hidden" value="<%=user.mail%>" name="oldmail">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="mail" value="<%=user.mail%>">
            <label for="floatingInput">First Name</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingPassword" placeholder="name" name="name" value="<%=user.name%>">
            <label for="floatingPassword">Last Name</label>
          </div>
          
          <button class="btn mt-5 btn-dark" type="submit">Update</button>
        </div>
        
    </div>
    
        </div>
        
    </form>
</body>
</html>